# Local environment (do not version secrets)
.env
.env.local
.env.*.local
.env.dev

# Dependencies & build artifacts
/vendor
/node_modules
/.pnpm-store
/public/build
/public/bundles
/public/assets
/assets/vendor

# Logs & runtime caches
*.log

# Temporary data & var (e.g. Symfony cache, uploads)
/var

# Archives / compressed
*.zip
*.tar
*.tar.gz
*.tgz
*.rar
*.7z
